.bg-darker{
    background-color: #323436;
}

.feature-icon{
    height: 5em;
    width: auto
}

.feature-row{
    padding: 0 10%
}

.review{
    width: 720px;
    max-width: 80%
}

.review-profile-pic{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    background-size: cover
}

.bg-less-light{
    background-color: #F5F5F5
}

.feature{
    max-width: 900px;
}

.footer-section > p{
    margin-right: 1em
}